Using Web Scraping method to extract the required table

In [1]:
from pandas.io.html import read_html

In [2]:
page= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
wikitables = read_html(page, attrs={"class" : "wikitable sortable"})

The variable wikitables contains the scraped table. Further we sort the table on the basis of Postal Code Column and reset their index

In [47]:
df=wikitables[0]
df1=df[df.Borough!='Not assigned']
df2=df1.sort_values(by='Postal Code', ascending=True)

df3=df2.reset_index()
df3.columns
df3.drop(columns="index", inplace=True)
df3

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

Shape of the dataframe

In [48]:
df3.shape

(103, 3)

In [50]:
import pandas as pd
data=pd.read_csv("http://cocl.us/Geospatial_data")

In [51]:
data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [52]:
df4=data.Latitude

In [53]:

df3['Latitude']=df4

In [54]:
df4=data.Longitude

In [55]:
df3['Longitude']=df4

In [56]:
df3

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054